main {
  max-width: 1100px;
  margin: 0 auto;
}

body {
  background-color: rgb(247, 243, 232);
}

.grid_1-1_beige {
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.grid_1-1_beige div {
  padding-left: 20px;
  padding-right: 30px;
}

.grid_1-1_brun {
  background-color: var(--secondary-color);
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.grid_1-1_brun img {
  order: 1; /* Gør billedet først */
  object-fit: cover;
}

.grid_1-1_brun div {
  order: 2; /* Teksten kommer efter billedet */
  padding-right: 30px;
}

h1 {
  background-color: var(--primary-color);
  padding-bottom: 20px;
  padding-top: 20px;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 10px;
}

p {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  text-align: justify;
}

main img {
  padding-bottom: 15px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  padding: 15px;
}

@media (max-width: 850px) {
  .grid_1-1_beige,
  .grid_1-1_brun {
    display: grid;
    grid-template-columns: 1fr;
  }

  main img {
    aspect-ratio: 1 / 1;
  }

  .grid_1-1_beige {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column; /* Placerer tekst og billede i en kolonne */
    align-items: center; /* Centrerer billedet horisontalt */
    text-align: center;
  }

  .grid_1-1_brun {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column; /* Placerer tekst og billede i en kolonne */
    align-items: center; /* Centrerer billedet horisontalt */
    text-align: center;
  }

  .grid_1-1_brun div {
    order: 1; /* Teksten øverst */
  }

  .grid_1-1_brun img {
    padding: 20px 50px;
  }

  .grid_1-1_brun img {
    padding: 10px 50px 50px 50px;
  }
  .grid_1-1_brun div {
    padding: 20px 50px;
    margin: 0px;
  }

  .grid_1-1_beige img {
    padding: 10px 50px 50px 50px;
  }

  .grid_1-1_beige div {
    padding: 20px 50px;
    margin: 0px;
  }

  p {
    padding: 0px;
  }

  h1 {
    padding-bottom: 0px;
    padding-top: 10px;
  }

  h2 {
    padding-top: 0px;
  }
}
