.grid_1-1_beige {
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.grid_1-1_beige div {
  padding-left: 20px;
  padding-right: 30px;
}

.grid_1-1_brun {
  background-color: var(--secondary-color);
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.grid_1-1_brun img {
  order: 1; /* Gør billedet først */
  object-fit: cover;
  margin-left: 100px;
}

.grid_1-1_brun div {
  order: 2; /* Teksten kommer efter billedet */
  padding-right: 30px;
}

h1 {
  background-color: var(--primary-color);
  padding-bottom: 40px;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

p {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  text-align: justify;
}

img {
  aspect-ratio: 1 / 1;
  width: 70%;
  object-fit: cover;
}

.logo {
  width: 20%;
}

@media (max-width: 800px) {
  .grid_1-1_beige,
  .grid_1-1_brun {
    display: grid;
    grid-template-columns: 1fr;
  }

  img {
    aspect-ratio: 1 / 1;
  }

  .grid_1-1_beige {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column; /* Placerer tekst og billede i en kolonne */
    align-items: center; /* Centrerer billedet horisontalt */
    text-align: center;
  }

  .grid_1-1_brun {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column; /* Placerer tekst og billede i en kolonne */
    align-items: center; /* Centrerer billedet horisontalt */
    text-align: center;
  }

  .grid_1-1_brun div {
    order: 1; /* Teksten øverst */
  }

  .grid_1-1_brun img {
    width: 50%;
    margin-right: 80px;
  }

  .grid_1-1_beige img {
    width: 50%;
  }

  h1 {
    padding-bottom: 20px;
  }

  .logo {
    width: 50%;
  }
}
