h1 {
  padding: 10px;
}
h2 {
  text-align: center;
  padding-bottom: 7px;
}
h3 {
  padding-left: 15px;
  padding-top: 7px;
}
p {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  text-align: justify;
}
.knap_til_behandlinger {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  margin-left: 9rem;
  margin-right: 9rem;
  background-color: rgb(120, 157, 128);
  border: 0.5px solid black;
  border-radius: 7px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}
.knap_til_behandlinger:hover {
  color: white;
  background-color: rgb(224, 203, 175);
  color: black;
}
.knap_til_mail {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 6px;
  margin-left: 9rem;
  margin-right: 9rem;
  background-color: rgb(120, 157, 128);
  border: 0.5px solid black;
  border-radius: 7px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}
.knap_til_mail:hover {
  color: black;
  background-color: var(--primary-color);
}
.booking {
  padding-bottom: 15px;
}
body {
  background-color: rgb(247, 243, 232);
}
.img_forside img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  padding: 7px;
  filter: brightness(85%);
}
.img_forside {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 8px;
  padding: 15px;
  margin-top: 10px;
}
.img1 {
  aspect-ratio: 2 / 1.1;
  grid-column: 1 / span 2;
}
.img2 {
  aspect-ratio: 1 / 1;
  grid-row: 2 / span 1;
}
.img3 {
  aspect-ratio: 1 / 1;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}
.booking {
  background-color: rgb(224, 203, 175);
}
.desktop_img {
  display: none;
}
.telefon1,
.telefon2 {
  text-align: center;
}
.telefon2 {
  padding-bottom: 15px;
}
.fakta {
  padding: 15px;
  color: rgb(120, 157, 128);
}
/* LAYOUT TIL DESKTOP FORMAT */
@media (min-width: 850px) {
  .forside {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  h1 {
    padding-top: 4rem;
  }
  p {
    padding-left: 20px;
  }
  .knap_til_behandlinger {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    margin-left: 9rem;
    margin-right: 9rem;
    background-color: rgb(120, 157, 128);
    border: 0.5px solid black;
    border-radius: 7px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-top: 15px;
  }
  .knap_til_mail {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    margin-left: 9rem;
    margin-right: 9rem;
    background-color: rgb(120, 157, 128);
    border: 0.5px solid black;
    border-radius: 7px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-top: 15px;
  }
  .booking {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .desktop_img {
    width: 85%;
    height: 102.2%;
    display: block;
    padding-left: 9rem;
  }
  .booking_tekst {
    padding-right: 25px;
    padding-top: 10rem;
  }
  .telefon1,
  .telefon2 {
    text-align: center;
    font-size: 30px;
  }
  .telefon1 {
    padding-top: 25px;
  }
  .faktaboks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 25px;
  }
}
