* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --primary-color: rgb(247, 243, 232);
  --secondary-color: rgb(224, 203, 175);
}

/* Fonte */
@font-face {
  font-family: playfair;
  src: url(../playfair_font/playfairdisplay-variablefont_wght-webfont.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: quicksand;
  src: url(../quicksand_font/quicksand-variablefont_wght-webfont.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-size: 16px;
  font-family: playfair;
  background-color: var(--secondary-color);
}
.logo img {
  width: 20%;
}
.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  gap: 15px;
}
.menu a {
  display: block;
  padding: 7px;
  color: #030000f0;
  background-color: var(--primary-color);
  border-radius: 10px;

  text-decoration: none;
}
.menu a:hover {
  color: rgb(120, 157, 128);
}
.burger {
  width: 30px;
  height: 20px;
  margin-top: 18px;
  margin-right: 7px;
  cursor: pointer;
}
.burger .line {
  width: 100%;
  height: 2px;
  background-color: rgb(247, 243, 232);
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }
  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }
  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }
  nav.active .menu {
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  nav.active .menu li {
    margin: 10px 20px;
  }
  nav.active .menu a {
    font-size: 15px;
  }
}
h1 {
  font-family: quicksand;
  font-weight: 100;
  font-size: 35px;
  text-align: center;
}
h2 {
  font-family: quicksand;
  font-weight: 100;
  font-size: 24px;
}
h3 {
  font-family: quicksand;
  font-weight: 100;
  font-size: 18px;
}
p {
  font-family: playfair;
  font-size: 14px;
}
footer {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background-color: rgb(224, 203, 175);
}
.footer_menu {
  display: flex;
  list-style: none;
  font-size: 11px;
  font-family: playfair;
  gap: 18px;
  margin: 0;
  padding: 0;
}
.footer_menu .adresse {
  text-decoration: underline;
}
.footer_menu li {
  margin-right: 5px;
  margin-top: 10px;
  margin-left: 5px;
}
.footer_menu a {
  display: block;
  color: black;
  text-decoration: none;
}
.footer_menu a:hover {
  color: rgb(247, 243, 232);
}
.ikoner {
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.ikoner a {
  margin-left: 5px;
  margin-top: 10px;
}

/* herunder laves layoyt til desktop format */
@media (min-width: 850px) {
  .logo img {
    width: 30%;
  }
  h1 {
    font-family: quicksand;
    font-weight: 100;
    font-size: 50px;
    text-align: center;
  }
  h2 {
    font-family: quicksand;
    font-weight: 100;
    font-size: 32px;
  }
  h3 {
    font-family: quicksand;
    font-weight: 100;
    font-size: 23px;
  }
  p {
    font-family: playfair;
    font-size: 18px;
  }
  footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(224, 203, 175);
  }
  .footer_menu {
    display: flex;
    list-style: none;
    font-size: 15px;
    font-family: playfair;
    gap: 18px;
    margin: 0;
    padding: 0;
    justify-content: left;
  }
  .footer_menu .adresse {
    text-decoration: underline;
  }
  .footer_menu li {
    margin-right: 5px;
    margin-top: 10px;
    margin-left: 5px;
  }
  .footer_menu a {
    display: block;
    color: black;
    text-decoration: none;
  }
  .footer_menu a:hover {
    color: rgb(247, 243, 232);
  }
  .ikoner {
    display: flex;
    align-items: center;
    padding-left: 20px;
  }
  .ikoner a {
    margin-left: 20px;
    margin-top: 10px;
  }
}
